In [1]:
import pandas as pd

data = pd.read_csv('cwurData.csv')

print(data.head())

#https://www.kaggle.com/datasets/mylesoneill/world-university-rankings

   world_rank                            institution         country  \
0           1                     Harvard University             USA
1           2  Massachusetts Institute of Technology             USA
2           3                    Stanford University             USA
3           4                University of Cambridge  United Kingdom
4           5     California Institute of Technology             USA

   national_rank  quality_of_education  alumni_employment  quality_of_faculty  \
0              1                     7                  9                   1
1              2                     9                 17                   3
2              3                    17                 11                   5
3              1                    10                 24                   4
4              4                     2                 29                   7

   publications  influence  citations  broad_impact  patents   score  year
0             1          1          1           NaN        5  100.00  2012
1            12          4          4           NaN        1   91.67  2012
2             4          2          2           NaN       15   89.50  2012
3            16         16         11           NaN       50   86.17  2012
4            37         22         22           NaN       18   85.21  2012

In [2]:
# Question a
# There is 14 different columns in the data set
# From the 14 columns, there is 10 numerical variables
# The data sets is about university world ranking from all araound the world

In [3]:
# Question b
mis_value = data.isnull().sum()
# There is no missing data in the data set

In [ ]:
# Question c
# Sorting columns in alphabetical order
data = data[sorted(data.columns)]

print(data)

In [4]:
# Selecting columns that contain the 7 numerical variables
compute_columns = data[['quality_of_education', 'alumni_employment', 'quality_of_faculty', 'publications',
                     'influence', 'citations', 'score']]
print(compute_columns)

      quality_of_education  alumni_employment  quality_of_faculty  \
0                        7                  9                   1
1                        9                 17                   3
2                       17                 11                   5
3                       10                 24                   4
4                        2                 29                   7
...                    ...                ...                 ...
2195                   367                567                 218
2196                   236                566                 218
2197                   367                549                 218
2198                   367                567                 218
2199                   367                567                 218

      publications  influence  citations   score
0                1          1          1  100.00
1               12          4          4   91.67
2                4          2          2   89.50
3               16         16         11   86.17
4               37         22         22   85.21
...            ...        ...        ...     ...
2195           926        845        812   44.03
2196           997        908        645   44.03
2197           830        823        812   44.03
2198           886        974        812   44.02
2199           861        991        812   44.02

[2200 rows x 7 columns]

In [ ]:
# Question d
# Maximum 
max_value = compute_columns.max()
print("Maximum:")
print(max_value)

In [ ]:
# Minimum 
min_value = compute_columns.min()
print("Minimum:")
print(min_value)

In [ ]:
# Mean
mean_value = compute_columns.mean()
print("Average:")
print(mean_value)

In [ ]:
# Median
median_value = compute_columns.median()
print("Median:")
print(median_value)

In [ ]:
# Standard Deviation
std_value = compute_columns.std()
print("Standard Deviation:")
print(max_value)

In [ ]:
# Skewness
skew_value = compute_columns.skew()
print("Skewness:")
print(skew_value)

In [ ]:
# Kurtosis
kur_value = compute_columns.kurtosis()
print("Kurtosis:")
print(kur_value)